[System]
debug           = false

[Captcha]
recaptcha_siteKey   = "123456abc"
recaptcha_secretKey = "cba654321"
; Valid theme values: dark, light
recaptcha_theme     = light
; Valid forms values: changePassword, email, newAccount, passwordRecovery, sms
; Use * for all supported forms
forms = *

[Site]
url             = https://beta.knihovny.cz/
email           = cpk-support@mzk.cz
theme		= KnihovnyCz

[Index]
engine       = Solr
url          = http://solr-dev.app.knihovny.cz/solr
default_core = front
perf_log = /var/www/knihovny-cz/log/solr-json.log

[Authentication]
method		= Shibboleth

[Shibboleth]
login           = /Shibboleth.sso/DS
logout          = /Shibboleth.sso/Logout
username        = eduPersonPrincipalName
cat_username    = userLibraryId
email           = mail
firstname       = givenName
lastname        = sn
edu_person_unique_id = eduPersonUniqueId
allow_configuration_override = true
; Check for duplicate institutions when connecting library card
;check_duplicate_institutions = false

[Database]
database        = mysql://user:pw@localhost/dbName

[Logging]
file            = /home/vufind/git/VuFind/fatal-errors.log:alert,error
;file            = /home/vufind/git/VuFind/fatal-errors.log:alert,error,notice,debug
ziskej          = /var/www/knihovny-cz/log/ziskej-api.log

[GoogleMaps]
apikey = "A1b2C3"

[Proxy]
host = proxy.example.com
port = 1234
auth = basic
user = username
pass = ***

[Http]
adapter = 'Laminas\Http\Client\Adapter\Default'

[Session]
type = File

[Mail]
sms = disabled

[GoogleTagManager]
apiKey = "ABC-123456"
salt = "some salt"

[Parent_Config]
relative_path = ../../../base/config/vufind/config.ini

[Ziskej]
techlib_url = "https://ziskej.techlib.cz"
default_mode_mvs = "test"
default_mode_edd = "disabled"
mode_urls["disabled"] = ""
mode_urls["prod"] = "https://ziskej.techlib.cz:9080/api/v1"
mode_urls["test"] = "https://ziskej-test.techlib.cz:9080/api/v1"
mode_urls["demo"] = "https://ziskej-demo.techlib.cz:9080/api/v1"
mode_urls["dev"] = "https://ziskej-dev.techlib.cz:9080/api/v1"

[Certs]
ziskej = "/var/www/cert.key"

[Summon]
apiId        = app
apiKey       = "A1BB2CCC3"

[Summon]
apiId        = knihovny
apiKey       = "TiRVQ73xarf3ZG+Va/fT1OcoGuSkQr1ybCRYsPC0dEQ="

[Filebeat]
host = xx.xx.xx.xx
port = xxxx
