[System]
debug           = false

[Captcha]
recaptcha_siteKey   = "6LceOg4TAAAAABNlNWpIH0cEjMhBOG_ec9eguSD_"
recaptcha_secretKey = "6LceOg4TAAAAAMIpTAknf9opttn04gqVrB0aS0rZ"
; Valid theme values: dark, light
recaptcha_theme     = light
; Valid forms values: changePassword, email, newAccount, passwordRecovery, sms
; Use * for all supported forms
forms = *

[Site]
url             = https://beta.knihovny.cz/
email           = cpk-support@mzk.cz
theme		= KnihovnyCz

[Index]
engine       = Solr
url          = http://solr-dev.app.knihovny.cz/solr
default_core = front

; Set Max limit for ebooks to harvest from Solr to MySQL
; Solr can't return all rows by default and need Limit option
; Set this to much higher value than count of ebooks in Solr.
harvest_ebooks_limit = 500000
harvest_ebooks_widget_name = "eknihy_ke_stazeni"

[Authentication]
method		= Shibboleth

[Shibboleth]
login           = /Shibboleth.sso/DS
logout          = /Shibboleth.sso/Logout
username        = eduPersonPrincipalName
cat_username    = userLibraryId
email           = mail
allow_configuration_override = true

[Database]
database        = mysql://user:pw@localhost/dbName

[Logging]
file            = /home/vufind/git/VuFind/fatal-errors.log:alert,error
;file            = /home/vufind/git/VuFind/fatal-errors.log:alert,error,notice,debug

[GoogleMaps]
apikey = AIzaSyALBfl5KwpSRjsvl4h0gzZB1fdq4Ei6DW0

;This configuration sets recipients for feedback page. Split values with comma
;E.g. "mail@server.cz,mail2@server.cz"
[Feedback]
RequestHelpRecipients = "cpk-support@mzk.cz"
ReportBugRecipients   = "cpk-support@mzk.cz"

[Proxy]
type = curl
host = your.proxy.server
port = 8000
username = username
password = password
non_proxy_host[] = cache.obalkyknih.cz

[Session]
type = File

[Parent_Config]
relative_path = ../../../base/config/vufind/config.ini
