@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');

@import "bootstrap";
@import "variables";

// GENERAL
body > nav.breadcrumbs {
  // dont show main breadcrumbs
  display: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  outline: none;
  text-decoration: underline;
  background: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  font-weight: 600;
}

.list-group {
  .list-group-item {
    a {
      text-decoration: none;

      .list-group-item-heading {
      }

      .list-group-item-text {
        color: @text-color;
      }

    }

    a:hover {
      .list-group-item-heading {
        text-decoration: underline;
      }
    }
  }
}

.well.tab-content {
  padding: 19px;
  border-top: 0;
}

dl.dl-horizontal {
  dt {
    text-align: left;
    color: @text-muted;
  }

  dd {
    margin-bottom: 0.5em;
  }
}

// HEADER
header {
  background-color: #fff;
  box-shadow: 0 1px 5px #ccc;
  margin-bottom: 20px;
}

// FOOTER
footer {
  width: initial;
  background-color: #222222;
  color: #f6f6f6;

  a {
    color: #cccccc;
  }

  a:hover {
    color: #ffffff;
  }
}

#records-in-groups-container {
  margin-top: 10px;
}

span.institutions-selector {
  font-size: 1.2em;

  img {
    height: 1em;
    margin-right: 8px;
    vertical-align: baseline;
  }
}

.template-dir-inspiration.template-name-home {
  .col-md-4.widget:nth-child(3n+1) {
    clear: left;
  }
}

.buy-links a.btn {
  font-weight: bold;
}

.buy-links a {
  border: 1px solid @brand-primary;
  color: @brand-primary;
  text-transform: uppercase;
  &:hover, &:focus {
    color: #fff;
    background-color: @primary-darken;
    border: 1px solid @primary-darken;
  }
}
