@srcFontLato: "../fonts/Lato";

@font-face {
  font-family: 'Lato';
  src: url('@{srcFontLato}/Lato-Regular.eot');
  src: url('@{srcFontLato}/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('@{srcFontLato}/Lato-Regular.woff2') format('woff2'),
  url('@{srcFontLato}/Lato-Regular.woff') format('woff'),
  url('@{srcFontLato}/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility
}

@font-face {
  font-family: 'Lato';
  src: url('@{srcFontLato}/Lato-Italic.eot');
  src: url('@{srcFontLato}/Lato-Italic.eot?#iefix') format('embedded-opentype'),
      url('@{srcFontLato}/Lato-Italic.woff2') format('woff2'),
      url('@{srcFontLato}/Lato-Italic.woff') format('woff'),
      url('@{srcFontLato}/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  text-rendering: optimizeLegibility
}

@font-face {
  font-family: 'Lato';
  src: url('@{srcFontLato}/Lato-Bold.eot');
  src: url('@{srcFontLato}/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('@{srcFontLato}/Lato-Bold.woff2') format('woff2'),
      url('@{srcFontLato}/Lato-Bold.woff') format('woff'),
      url('@{srcFontLato}/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility
}

@font-face {
  font-family: 'Lato';
  src: url('@{srcFontLato}/Lato-BoldItalic.eot');
  src: url('@{srcFontLato}/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('@{srcFontLato}/Lato-BoldItalic.woff2') format('woff2'),
      url('@{srcFontLato}/Lato-BoldItalic.woff') format('woff'),
      url('@{srcFontLato}/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  text-rendering: optimizeLegibility
}

