@font-face {
  font-family: 'knihovny';
  src: url('../fonts/knihovny.eot');
  src: url('../fonts/knihovny.eot?#iefix') format('embedded-opentype'),
  url('../fonts/knihovny.ttf') format('truetype'),
  url('../fonts/knihovny.woff') format('woff'),
  url('../fonts/knihovny.svg#knihovny') format('svg');
  font-weight: normal;
  font-style: normal;
}
