.template-dir-content.template-name-markdown #content {

  h1 {
    margin-top: 0;
  }

  h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $gray-light;
  }

  h4, h5, h6 {
    margin-top: 21px;
  }

  h5 {
    font-size: 1em;
  }

  .table > thead {
    background-color: $gray-lighter;
  }
}
