.idea/*
!.idea/runConfigurations/
composer.json
composer.lock
docker/*.env
docker/builds/knihovny-cz-base6/composer.local.json
docker/builds/knihovny-cz-base6/package.json
docker/data
nohup.out
local/*/cache/
local/*/config/vufind/*.local.ini
themes/*/css/compiled.css
themes/*/css/embedded-search.css
themes/*/css/embedded-libraries.css
themes/*/images/content
themes/*/templates/ContentBlock/TemplateBased
!themes/KnihovnyCz/templates/ContentBlock/TemplateBased/markdown.phtml
themes/*/templates/content/*
!themes/KnihovnyCz/templates/content/content.phtml
!themes/KnihovnyCz/templates/content/markdown.phtml
vendor
!themes/KnihovnyCz/css/vendor/images/*
.php_cs_cache
.commit
/node_modules
/package-lock.json
/themes/bootstrap5/
