.idea/*
!.idea/runConfigurations/
composer.json
composer.lock
docker/*.env
docker/builds/knihovny-cz-base6/composer.local.json
docker/data
nohup.out
local/*/cache/
local/knihovny.cz/config/vufind/*.local.ini
local/irel/config/vufind/*.local.ini
local/kiv/config/vufind/*.local.ini
local/mus/config/vufind/*.local.ini
local/tech/config/vufind/*.local.ini
themes/KnihovnyCz/css/compiled.css
themes/KnihovnyCz/css/embedded-search.css
themes/KnihovnyCz/images/content
themes/KnihovnyCz/templates/ContentBlock/TemplateBased
!themes/KnihovnyCz/templates/ContentBlock/TemplateBased/markdown.phtml
themes/KnihovnyCz/templates/content/*
!themes/KnihovnyCz/templates/content/content.phtml
!themes/KnihovnyCz/templates/content/markdown.phtml
themes/KnihovnyCz/css/cookieconsent.min.css
themes/KnihovnyCz/css/cookieconsent.min.css.map
vendor
.php_cs_cache
.commit
