parameters:
    autoload_directories:
        - %currentWorkingDirectory%/module/KnihovnyCz
        - %currentWorkingDirectory%/module/KnihovnyCzConsole
        - %currentWorkingDirectory%/../vufind/module
    autoload_files:
        - %currentWorkingDirectory%/../vufind/vendor/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/../vufind/module/VuFind/src/VuFind/View/Helper/Root/AuthorNotesFactory.php
    paths:
        - module/KnihovnyCz/src
        - module/KnihovnyCzConsole/src
    level: 1
