parameters:
    scanDirectories:
        - %currentWorkingDirectory%/../vufind/module
    bootstrapFiles:
        - %currentWorkingDirectory%/../vufind/vendor/autoload.php
    excludes_analyse:
        - %currentWorkingDirectory%/../vufind/module/VuFind/src/VuFind/View/Helper/Root/AuthorNotesFactory.php
    ignoreErrors:
        - '#PHPDoc tag @throws with type Interop\\Container\\Exception\\ContainerException is not subtype of Throwable#'
        - '#Access to an undefined property Laminas\\Config\\Config::\$[a-zA-Z0-9_]#'
        - '#Call to an undefined method Laminas\\Stdlib\\DispatchableInterface::getRequest\(\)#'
        - '#Access to an undefined property [a-zA-Z0-9_]+\\Db\\Row\\[a-zA-Z0-9_]+::\$[a-zA-Z0-9_]+#'
        - '#Call to an undefined method Laminas\\Db\\ResultSet\\ResultSetInterface::current\(\)#'
    paths:
        - module/KnihovnyCz
        - module/KnihovnyCzApi
        - module/KnihovnyCzConsole
    level: 8
