// Thumbnail sizes for media items: search results, list entries, record views
$thumbnail-width-small:   60px !default;
$thumbnail-width-medium: 100px !default;
$thumbnail-width-large:  160px !default;

// Hide browser's own X button in the search field (Safari, Chrome)
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Search forms
.navbar-form {
  .form-control, .form-select {
    display: block;
    width: 100%;

    @include media-breakpoint-up(sm) {
      display: inline-block;
      width: auto;
    }
  }
  .btn {
    vertical-align: baseline;
  }
}

// record result list ol, ul that contains li.result
.record-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &.search-results-solr-auth {
    .media-left, .media-right {
      display: none;
    }
  }
}

.js-result-list {
  position: relative;

  // Loading spinner
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    font-size: 150%;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);

    .loading-spinner {
      padding: 2rem;
      background-color: rgba(0,0,0,0.6);
      border-radius: $border-radius-lg;
      color: $gray-lighter;
    }
  }
}

.datevis-form {
  padding: 0 10px;

  .datevis-label {
    margin-bottom: .3rem;
    font-weight: bold;
    text-align: inherit;
  }

  .datevis-chart {
    height: 70px;
  }

  .slider-container {
    padding-top: 0;
    padding-bottom: .8rem;
  }

  .datevis-controls-container {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;

    label {
      margin-right: .5rem;
    }

    input {
      margin-right: 1rem;
    }

    .datevis-controls-row {
      display: flex;
      align-items: center;
    }

    .datevis-input {
      width: 100%;
    }
  }
}

// Hide these on mobile
@include media-breakpoint-down(sm) {
  // Bulk action checkboxes:
  #search-cart-form .result .checkbox,
  // Search result and favorites bulk action buttons:
  .bulkActionButtons { display: none; }
}
@include media-breakpoint-down(sm) {
  .view-buttons {
    display: none;
  }
}

.searchHomeContent { @include clearfix(); }
.home-facet-list {
  padding-left: 0;
  padding-right: 1rem;
  list-style: none;
}
// Reset styling of hierarchical facets on the home page:
.home-facet.facet-tree li {
  line-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;

  .facet-tree__toggle-expanded {
    line-height: inherit;
    padding: 0;
  }

  .facet {
    padding: 0;
    line-height: inherit;
    .badge {
      display: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  .search-home-facets,
  .home-facet-container { display: flex; }
  .home-facet {
    flex: 1 1 100%;
  }
  .home-facet-list { flex: 0 1 100%; }
}

header .container.navbar { margin-bottom: 0; }

.search-sort,
.search-result-limit {
  display: flex;
  gap: 0.5rem;

  label {
    flex: none;
    white-space: nowrap;
    line-height: $input-height;
  }

  select.form-select {
    flex: 1 1 0%;
  }
}

.search-stats {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@include media-breakpoint-up(sm) {
  .search-header { display: flex; }
  .search-stats { flex-grow: 1; }
  .search-controls { text-align: right; }
}

.versions-tab {
  .search-controls {
    padding-top: 0.5rem;
    padding-left: 1rem;
    text-align: left;
  }
  .search-header {
    .search-stats { flex-grow: 0; }
  }
}

.record-nav {
  @include clearfix();
  margin: 1rem 0;
  padding: 0;
}
.bulkActionButtons,
.action-toolbar,
.selection-controls-bar {
  gap: 0.25rem;
  align-items: center;
  cursor: default;
}
.bulkActionButtons {
  margin-block: 1rem;
}
.bulk-checkbox {
  padding-inline-end: 1rem;
  margin-top: .25rem;
}
.bulkActionButtons label { display: inline-block; }
.bulkActionButtons label input { margin-top: 2px; }

.action-toolbar,
.selection-controls-bar {
  margin: 0;
  padding: 0;
  list-style: none;

  .popover ul {
    list-style: disc;
    padding-left: 1em;
  }
}
.action-toolbar > li,
.selection-controls-bar > li {
  display: inline-block;

  .popover li {
    display: list-item;
    padding-left: 0.5em;
  }
}

@include media-breakpoint-down(sm) {
  .grid { min-height: 250px; }
}
.result {
  display: flex;
  padding-top: 1rem;

  .record-checkbox,
  .record-number {
    display: none;
  }

  .record-checkbox {
    padding: .4rem;
    height: fit-content;

    input[type="checkbox"] {
      margin: 0;
    }
  }

  .record-number {
    padding-top: .2rem;
  }

  .title,
  .result-author,
  .fulltext {
    font-weight: $font-weight-bold;
  }

  .list-tab-content.record .img-col { display: none; }
  .list-tab-content.record .info-col { width: 100%; }
  .format {
    @extend .label;
    @extend .label-info;
  }

  .checkbox-select-item { float: left; }

  .dropdown-menu.qrcode {
    min-width: inherit;
  }

  @include media-breakpoint-down(sm) {
    .result-qrcode {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    a {
      max-width: 100%;
      text-decoration: underline;
    }
  }
  @include media-breakpoint-up(sm) {
    .record-checkbox {
      display: block;
      flex: 0;
      cursor: pointer;
    }
    .record-number {
      display: block;
      flex: 0 2rem;
      text-align: center;
    }
  }
}
.record,
.result {
  .media {
    display: flex;
    flex: 1;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    overflow: visible;
  }
  .media-left,
  .media-right {
    flex: none;
    max-width: 25%;
    text-align: center;

    a {
      display: inline-block;
      max-width: 100%;
      text-align: center;
      white-space: nowrap;
    }
    .rating-summary a {
      white-space: normal;
    }

    img {
      display: inline-block;
      width: auto;
      max-width: 100%;
      max-height: 300px;
      object-fit: contain;
    }

    @include media-breakpoint-up(sm) {
      &.small  { width: $thumbnail-width-small; }
      &.medium { width: $thumbnail-width-medium; }
      &.large  { width: $thumbnail-width-large; }
      & > a { width: 100%; }
    }
  }
  .media-left { margin-right: 10px; }
  .media-right { margin-left: 10px; }
  .media-body {
    flex: 1;
    width: unset;
    overflow: visible;
  }
}

.ajaxcover .cover-container {
  display: none;
}
.recordcover {
  white-space: normal;
  line-height: 1.15;
}

.result-body {
  padding: 0;
  padding-bottom: .25rem;
}

.result-body,
.media-body {
  h2 {
    font-size: unset;
    line-height: $line-height-base;
    margin: 0 !important;

    .authors {
      display: block;
    }
  }
}

.result-links a {
  line-height: 1.5;
}

.result-links .alert { margin: 0; }
.result-formats { margin-bottom: .5rem; }

.savedLists {
  @extend .alert;
  @extend .alert-info;
  padding: 0.4rem;
  display: none;

  ul {
    padding-left: 1rem;
  }
}

.result-citation-links {
  margin: 0.5rem 0;
}

@include media-breakpoint-up(sm) {
  .result-body {
    float: left;
    width: 75%;
  }
  .result-links {
    float: left;
    width: 25%;
    padding: 0;
  }
  .savedLists.loaded { display: block; }

  body.rtl {
    .result-body,
    .result-links { float: right; }
  }
}

/* ------ EMBEDDED RESULTS STYLE ------ */

.result.embedded {
  .getFull {
    display: block;
    margin-left: -.5rem;
    padding-left: .5rem;
    border-left: 1px solid transparent;
  }
  .getFull.expanded {
    @extend .list-group-item;

    margin-top: -11px;
    margin-bottom: -1px;
    padding: 10px 15px 10px 0.5rem;
    border: 1px solid #ddd;

    &::before {
      content: '\25BC';
      position: absolute;
      right: 1rem;
      color: $gray;
    }
  }
  .loading {
    @extend .list-group-item;
    margin-left: .75rem;
    padding: 1rem;
    background: #fff;
  }
  .long-view {
    margin-left: -.5rem;
    padding: .5rem;
    border: 1px solid $list-group-border-color;
    background-color: #fff;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  .long-view .tab-content { padding: 0; }
  .list-tabs { margin-bottom: 0; }
  .list-tab-toggle { cursor: pointer; }
  .list-tab-content { padding: 1rem; }
}

/* ------ GRID VIEW ------ */
.search-grid::after {
  display: table;
  clear: both;
  content: '';
}
.grid-result {
  display: flex;
  float: left;
  width: 50%;

  .grid-body {
    flex: 1;
    h2 {
      font-size: inherit;
      line-height: $line-height-base;
      margin: 0;

      .title {
        display: inline-block;
        font-weight: bold;
      }
    }
  }
  .grid-checkbox {
    flex: 0 0 30px;
    min-width: 0;
  }
  .label,
  .format {
    display: inline-block;
    white-space: normal;
  }
}
.grid-large-break,
.grid-small-break { clear: both; }
@include media-breakpoint-up(md) {
  .grid-result{ width: 25%; }
  .grid-small-break { display: none; }
}

.searchtools {
  margin-bottom: 0.5rem;

  h2 {
    display: inline-block;
    margin: 0 !important;
    font-size: inherit;
    font-weight: bold;
    vertical-align: middle;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding-left: 0;
    li {
      display: inline;
      &:not(:first-child):before {
        content: '\2013'; // n-dash
      }
      a {
        padding: 0 .5rem;
        white-space: nowrap;
      }
    }
  }
}

/* ------ COMBINED ------ */
// No sidebar in combined:
.template-dir-combined.template-name-results.vufind-offcanvas {
  margin: 0;
  padding: 0;
}

.combined-search-container.grid {
  margin-left: 1rem;
  margin-right: 1rem;

  .combined-list {
    overflow-wrap: anywhere;
  }
}

.combined-jump-links {
  margin-left: 1rem;
  margin-right: 1rem;

  // This is overridden via JS in combined/results-list.phtml
  visibility: hidden;

  ul {
    display: inline;
    list-style: none;
    padding-left: 0;

    li {
      // This is overridden via JS in combined/results-list.phtml
      display: none;

      white-space: nowrap;
      &:not(:first-child):before {
        content: '\2013'; // n-dash
      }
    }
  }
}

.combined-column {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
}

@include media-breakpoint-up(sm) {
  .combined-search-container {
    display: flex;
    padding-left: 1rem;

    &.grid {
      display: grid;
      column-gap: 1rem;
      padding-right: 1rem;
      margin-left: 0;
      margin-right: 0;
      // grid-template-columns is set dynamically in stack-grid.phtml.
    }

    .result { margin-left: 0; }
    .result-body {
      float: none;
      width: auto;
    }
    .result-links { display: none; }
  }
  .combined-column {
    flex: 0 1 100%;
    margin-left: 0;
  }
}

.wikipedia img { margin-right: 1rem; }
.geoItem {
    font-size: .9em;
    margin: 0px 0px 10px;
}
.title-in-heading {
  font-size: inherit;
  font-style: italic;
}

/* ------ TOP FACETS ------ */
.top-title {
  display: inline-block;
  padding-top: .5rem;
  padding-left: .5rem;
  font-weight: bold;
  color: #000;

  .icon {
    width: 1rem;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    &.top-title__heading {
      display: none;
    }
  }
  @include media-breakpoint-up(sm) {
    &.top-title__toggle {
      display: none;
    }
  }
}
@include media-breakpoint-up(sm) {
  .top-title {
    padding-top: 0;
  }
  .top-title .icon {
    display: none;
  }
  .top-facets .collapse {
    display: block;
    height: auto !important;
  }
}

/* ------ CURRENT FILTERS ------ */
.active-filters {
  clear: both;
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-block-start: 0.5rem;

  .retain-filters {
    float: right;
  }
  .checkbox {
    flex: 1;
    white-space: nowrap;
  }
  .filters-toggle {
    flex: 1;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    &::after {
      content: '\25B2';
    }
    &.collapsed::after {
      content: '\25BC';
    }
    @include media-breakpoint-up(sm) {
      float: left;
    }
  }
  .filters {
    flex: 10 1 auto;
    margin-block-start: 0.25rem;

    .collapse {
      display: none;
      .show {
        display: inline-block;
      }
    }

    .checkbox label {
      display: inline-block;
      padding: 10px 0px;
      @include media-breakpoint-down(sm) {
        float: right;
        padding: 0px;
      }
    }
    .filters-term {
      font-size: 0.8em
    }
    .filter-value {
      display: inline-block;
      margin-block: 5px;
      padding: 2px 8px;
      font-weight: 600;
      color: #fff;
      white-space: nowrap;
      text-decoration: none;
      background: $list-group-active-bg;

      &:focus {
        box-shadow: 0 0 0 2px #000;
      }
    }
    .checkbox {
      display: inline;
      padding-left: 0;
      padding-right: 0;
      @include media-breakpoint-up(sm) {
        padding-right: 20px;
      }
    }
    .title-value-pair {
      display: inline-block;
      margin-inline-end: 0.5rem;
    }
  }
}
@include media-breakpoint-down(sm) {
  .active-filters--uncollapsible {
    display: none;
  }
}
@include media-breakpoint-up(sm) {
  .active-filters--collapsible {
    display: none;
  }
}

.toolbar-btn,
.reset-filters-btn,
.clear-selection {
  border: 0;
  color: $gray-dark;
  text-decoration: none;
  background-color: rgba(0,0,0,.05);
  border-radius: 4px;

  &:hover {
    background-color: rgba(0,0,0,.1);
  }
}

.toolbar-btn,
.reset-filters-btn {
  @extend .icon-link;
  gap: 0.25rem;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: $btn-padding-y $btn-padding-x;
}
.reset-filters-btn {
  flex: none;
}

.toolbar-btn {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(0 0 0 / 0.1);
}

.clear-selection{
  font-weight: 700;
  flex-basis: 100%;
}

.selection-controls-bar {
  .clear-selection, label {
    padding: .25rem .4rem .15rem .4rem;
  }

  input[type="checkbox"] {
    margin-inline-end: .4rem;
  }
}

.active-filters .filters a.filter-value:hover,
.active-filters .filters a.filter-value:focus {
  color: #fff;
  text-decoration: line-through;
  background-color: $danger;
}
.search-filter-dropdown {
  display: inline-block;
  .btn {
    color: #fff;
    background: $list-group-active-bg;
    font-weight: 600;
    vertical-align: baseline;
  }

  .dropdown-menu {
    .filters-term {
      display: block;
      text-align: center;
    }
    .filter-value {
      display: flex;

      .text {
        flex-grow: 1;
        margin-right: 0.5em;
      }
      a {
        flex-shrink: 0;
        margin: 0;
      }
    }
  }
}

.search-schedule-header {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.search-history-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-responsive;

  td.history_results, td.history_actions {
    word-wrap: normal;
  }
}
table.search-history-table {
  table-layout: auto;

  @include media-breakpoint-up(sm) {
    @media screen {
      tbody > tr > td { vertical-align: middle; }
      .history_time {
        width: 20%;
      }
    }
  }
}

.searchbox{
  width: 100%;
}

.searchForm {
  margin: 0.2rem 0;
  padding: 0;
  width: 100%;

  .searchForm-query {
    position: relative;

    @include media-breakpoint-up(sm) {
      display: inline-block;
    }

    #searchForm_lookfor {
      padding-right: 38px;
    }

    /* Adjust padding for the virtual keyboard button */
    @media (min-width: 401px) {
      #searchForm_lookfor.with-keyboard-selection {
        padding-right: 80px;
      }
    }

    #searchForm_controls {
      position: absolute;
      top: 0;
      right: 3px;
      z-index: 4;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }

    #searchForm-reset {
      width: 2em;
      border: none;
      border-radius: 50%;
      background-color: $gray-lighter;
      margin: 0;
      padding: 2px;
      font-size: 1em;
      cursor: pointer;
    }
  }
}

/* Hide virtual keyboard on narrow screens */
@media (max-width: 400px) {
  .keyboard-selection {
    display: none;
  }

  .show-keyboard, .simple-keyboard {
    display: none;
  }
}

/* Break early to prevent table overflow */
@include media-breakpoint-down(md) {
  .template-dir-search.template-name-history {
    .mainbody,
    .sidebar {
      float: none;
    }
    .mainbody {
      width: auto;
      padding: 0;
      margin-bottom: 1rem;
    }
    &:not(.vufind-offcanvas.active) .sidebar {
      width: auto;
    }
  }
}

/* Simple pagination */
.pagination-simple {
  margin: 0;
  text-align: inherit;
  li {
    display: inline-block;
    &.page-prev a {
      margin-right: 0.5rem;
    }
    &.page-next a {
      margin-left: 0.5rem;
    }
  }
  .pager-text {
    margin: 0;
    span {
      border: 0;
      padding: 0;
      color: $body-color;
      &:hover {
        color: $body-color;
        background-color: transparent;
      }
    }
  }
}

.querySuggestions > h2, .spellingSuggestions > h2 {
  font-size: unset;
  line-height: $line-height-base;
  margin: 0;
}

.spellingSuggestions .terms > li {
  .suggestions {
    padding-inline-start: 0;
    display: inline;
    li {
      display: inline;
      list-style: none;
    }
    li:not(:last-child)::after {
      content: ', ';
    }
  }
}

.callnumAndLocation .statusItemsHoldingsTextFields {
  border: none;
  padding: 0;
  padding-left: 15px;
}

.callnumAndLocation .itemWithAdditionalHoldingFields td {
  border-bottom-width: 0;
}
