.facet-group {
  display: block;
  padding-left: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .collapse,
  .collapsing,
  &.full-facet-list .facet {
    position: relative;
    border-left: 1px solid $list-group-border-color;
    border-right: 1px solid $list-group-border-color;
  }
  &.full-facet-list :first-child .facet { border-top: 1px solid $list-group-border-color; }
}

.facet__list {
  list-style: none;
  padding: 0;
  margin: 0;
  .facet__list__item .facet {
    display: flex;
  }
}

.facet,
.facet-group .title,
.facet-load-indicator,
.facet-load-failed,
.sidebar .datevis-form {
  padding: .5rem;
  line-height: 1.5rem;
  background-color: transparent;
}
.facet,
.facet-group .title,
.user-list-link {
  display: flex;
  align-items: center;

  .text {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    flex-grow: 1;
  }

  .badge {
    flex-shrink: 0;
    max-height: 19px;
    line-height: 1;
    vertical-align: baseline;
  }

  .exclude {
    flex-shrink: 0;
    text-align: center;
    margin-left: 0.5rem;

    body.rtl & {
      padding-left: 0;
      padding-right: 0.5rem;
    }
  }
}
.facet-group .facet,
.facet-load-indicator,
.facet-load-failed {
  border-bottom: 1px solid $list-group-border-color;
}
.facet-group .title {
  display: flex;
  width: 100%;
  padding-right: 8px;
  border: 1px solid $list-group-border-color;
  font-weight: bold;
  text-align: inherit;
}
.facet-group .facet-title {
  flex: 1 1 0%;
}
.facet-group .facet-title-icon {
  flex: none;
}
.facet-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}
.facet-loading-overlay-label {
  padding: 1px .5rem;
  color: #fff;
  background-color: #000;
}
.facet .text {
  overflow: hidden;
}

.multi-facet-selection {
  .facet {
    .exclude {
      border: 2px dotted transparent;
    }
    .exclude.selected {
      border: 2px dotted $list-group-active-bg;
    }
    .exclude {
      .icon {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}

.top-facets-contents {
  display: block;
  margin: 2px 0;
  padding: 0;
  list-style: none;
}
.top-facets .facet,
.top-facets > strong {
  display: inline-block;
  width: auto;
  padding: 2px 0;
  border: 0;
  white-space: nowrap;
}
.top-facet-inner {
  display: inline-block;
  padding: .25rem;
  border: 1px solid $list-group-border-color;
}

.checkbox-filters {
  padding-bottom: 0.5rem;
  // For blocking overlay:
  position: relative;
}
.checkbox-filter {
  display: flex;
  width: 100%;
  color: $body-color;
}
.facet-group > .checkbox,
.sidebar .facet.checkbox {
  margin: 0;
  padding-left: 2rem;
}

.active-filters .facet,
.facet-group .facet.active {
  background-color: $list-group-active-bg;
  color: #fff;

  a { color: #fff; }

  .badge {
    background-color: #fff;
    color: $primary;
  }
}

.narrow-toggle { text-align: center; }

.sidebar .format {
  @extend .label;
  @extend .label-info;
}
.top-row .applied {
  font-weight: bold;
  &:hover {
    color: $state-danger-text;
    .fa.fa-check:before {
      content: "\f00d";
    }
  }
}

.full-facets {
  margin: 1rem 0;
  border-top: 1px solid $list-group-border-color;
  border-bottom: 1px solid $list-group-border-color;
}
.full-facet-list .active .fa.fa-times {
  float: right;
  margin-top: .25rem;
  margin-left: 0.5rem;
}

body.rtl .full-facet-list .active .fa.fa-times { float: left; }
.full-facet-controls .form-group {
  margin: 0;
  padding: $btn-padding-y 0;
}

.truncate-done {
  overflow: clip;
}
.more-less-btn-wrapper .fa {
  line-height: inherit;
}
.more-less-btn-wrapper .facet {
  display: block;
  width: 100%;
}

.facet-range-form {
  width: 100%;
}
.date-fields {
  display: flex;

  .date-from, .date-to { flex: 0 1 100%; }
  .date-from { padding-right: .25rem; }
  .date-to   { padding-left:  .25rem; }
}
h3.facet-title {
  font-size: $font-size-base;
  margin: 0;
}
@include media-breakpoint-up(sm) {
  .author-facets { display: flex; }
  .author-list { flex: 0 1 100%; }
}

.multi-filters-selection {
  padding: 1em 0;
  background: white;

  label {
    font-weight: bold;
  }

  input[type="checkbox"] {
    height: initial;
  }

  .apply-filters {
    margin-top: 1em;
    display: none;
  }
}
.multi-facet-selection-active .apply-filters {
  display: block;
}
.sidebar .multi-filters-selection {
  position: sticky;
  top: 0;
  padding: 1em;
  z-index: 40;
  border-bottom: 1px solid $list-group-border-color;
  box-shadow: 0 5px 5px -4px #000;
}
.multi-facet-selection-active {
  // Hide submit buttons of range forms when multi-facet selection is active:
  .facet input[type="submit"] {
    display: none;
  }
}

.sidebar .datevis-form {
  border: 1px solid $list-group-border-color;

  .datevis-controls-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;

    input {
      margin-right: 0;
    }

    .datevis-controls-row {
      width: 100%;
      justify-content: space-between;
    }

    .datevis-input {
      margin-bottom: .5rem;
    }

    .datevis-input-from {
      margin-right: 1rem
    }
  }
}
