PARAM_VUFIND_HOST=beta.knihovny.cz
PARAM_VUFIND_CONFIG_DIR=irel
PARAM_VUFIND_SSL_PORT=443
PARAM_VUFIND_MYSQL_URL=mysql://user:password@hostname/dbname
PARAM_VUFIND_SOLR_URL=http://localhost:8080/solr
PARAM_VUFIND_SOLR_INDEX=front
PARAM_VUFIND_EDS_LOGIN=
PARAM_VUFIND_EDS_PASSWD=
PARAM_VUFIND_EDS_PROFILE=
PARAM_VUFIND_INFO_KNIHOVNY=http://cpk-front.mzk.cz:3000/api
PARAM_VUFIND_GOOGLE_API_KEY=
PARAM_VUFIND_CAPTCHA_SITE_KEY=
PARAM_VUFIND_CAPTCHA_SECRET_KEY=
PARAM_VUFIND_DEBUG=true
PARAM_XDEBUG_ENABLED=false
PARAM_VUFIND_ENTITY_ID=
PARAM_VUFIND_RUN_ENV=production
APACHE_RUN_USER=www-data
APACHE_RUN_GROUP=www-data
IGNORE_BOOTSTRAP_FAILURE=false
