PARAM_VUFIND_HOST=beta.knihovny.cz
PARAM_VUFIND_SSL_PORT=443
PARAM_VUFIND_MYSQL_URL=mysql://user:password@hostname/dbname
PARAM_VUFIND_SOLR_URL=http://localhost:8080/solr
PARAM_VUFIND_SEARCH2_SOLR_URL=http://localhost:8080/solr
PARAM_VUFIND_SEARCH2_SOLR_INDEX=front
PARAM_VUFIND_SOLR_INDEX=front
PARAM_VUFIND_EDS_LOGIN=
PARAM_VUFIND_EDS_PASSWD=
PARAM_VUFIND_EDS_PROFILE=
PARAM_VUFIND_GOOGLE_API_KEY=
PARAM_VUFIND_CAPTCHA_SITE_KEY=
PARAM_VUFIND_CAPTCHA_SECRET_KEY=
PARAM_VUFIND_DEBUG=true
PARAM_XDEBUG_ENABLED=true
PARAM_VUFIND_ENTITY_ID=https://cpk-front-devel.mzk.cz/
PARAM_VUFIND_RUN_ENV=development
PARAM_VUFIND_ROBOTS_TXT=robots.txt
PARAM_VUFIND_PROXY_HOST=
PARAM_VUFIND_PROXY_PORT=
PARAM_VUFIND_PROXY_USER=
PARAM_VUFIND_PROXY_PASSWORD=
PARAM_AGGRESSIVE_OPCACHE=false
PARAM_SENTRY_DSN=
APACHE_RUN_USER=www-data
APACHE_RUN_GROUP=www-data
IGNORE_BOOTSTRAP_FAILURE=false
GITLAB_API_TOKEN=api_token
PARAM_PORTAL_PAGES_BRANCH=testing
PARAM_CRONJOB_SECRET=AzPSPY4eNtWBDVqLpmvN
PARAM_GOOGLE_TAG_MANAGER_API_KEY="ABC-123456"
PARAM_GOOGLE_TAG_MANAGER_SALT="some salt"
