# If this file is empty or missing, default settings will be used, matching
# the examples provided below. The format of this configuration is as follows:
# array keys for every group are:
#   - name: name of a group
#   - label: text shown as group header - required
#   - id: html id for the group - required
#   - class: class for the list of items
#   - MenuItems: items shown in the menu - required
#   - checkMethod: the name of an AccountMenu view helper method to perform
#     a check whether to show the group. If omitted, group will always display.
# array keys for every menu item could be:
#   - name: name of an item
#   - label: the text shown as link, will be translated - required
#   - route: route name used to generate link target - route, url or template required
#   - routeParams: parameters for dynamic routes
#   - url: target url, alternative to route - route, url or template required
#   - template: template to render the item with
#   - icon: icon used for the item, has to be defined in theme config
#   - iconMethod: method to dynamically create the icon name; ignored when
#     icon is explicitly set.
#   - checkMethod: the name of an AccountMenu navigation plugin method to perform
#     a check whether to show the item. If omitted, item will always display.
#   - status: whether to show status label, defaults to false

MenuItems:
  - name: checkedout
    label: Checked Out Items
    route: myresearch-checkedout
    icon: user-checked-out
    status: true
    checkMethod: checkCheckedout

  - name: shortloans
    label: short_loan_title_text
    route: myresearch-shortloans
    icon: short-loans
    checkMethod: checkShortloans

  - name: historicloans
    label: Loan History
    route: checkouts-history
    icon: user-loan-history
    checkMethod: checkHistoricloans

  - name: ziskej
    label: ZiskejMvs::service_name
    route: myresearch-ziskej-mvs-home
    icon: user-ziskej
    status: true
    checkMethod: checkZiskejMvs

  - name: ziskej-edd
    label: ZiskejEdd::service_name
    route: myresearch-ziskej-edd-home
    icon: user-ziskej-edd
    status: true
    checkMethod: checkZiskejEdd

  - name: holds
    label: Holds and Recalls
    route: holds-list
    icon: user-holds
    status: true
    checkMethod: checkHolds

  - name: ebooks
    label: ebooks_all_titles
    route: myresearch-ebooks
    icon: user-checked-out
    status: false
    checkMethod: checkEbooks

  - name: storageRetrievalRequests
    label: Storage Retrieval Requests
    route: myresearch-storageretrievalrequests
    icon: user-storage-retrievals
    status: true
    checkMethod: checkStorageRetrievalRequests

  - name: ILLRequests
    label: Interlibrary Loan Requests
    route: myresearch-illrequests
    icon: user-ill-requests
    status: true
    checkMethod: checkILLRequests

  - name: fines
    label: Fines
    route: myresearch-fines
    status: true
    checkMethod: checkFines
    iconMethod: finesIcon

  - name: profile
    label: Profile
    route: myresearch-profile
    icon: profile

  - name: librarycards
    label: Library Cards
    route: librarycards-home
    icon: barcode
    checkMethod: checkLibraryCards

  - name: dgcontent
    label: Overdrive Content
    route: overdrive-mycontent
    icon: overdrive
    checkMethod: checkOverdrive

  - name: history
    label: Search History
    route: search-history
    icon: search
    checkMethod: checkHistory

  - name: usersettings
    label: User settings
    route: myresearch-usersettings
    icon: user-settings
    checkMethod: checkUserSettings

  - name: favorites
    label: Favorites
    route: myresearch-favorites
    icon: user-favorites
    checkMethod: checkFavorites

  - name: notifications
    label: Notifications::Manage notifications
    route: notifications
    icon: notifications-management
    checkMethod: checkNotifications

  - name: logout
    label: Log Out
    route: myresearch-logout
    icon: sign-out
    checkMethod: checkLogout
